@import url(style.css);
@import url(responsive.css);
/* faq-wrapper ================================================================= */

.faq-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.faq-wrapper h1 {
  margin-bottom: 2rem;
}

.faq-wrapper h2,
.faq-wrapper h3 {
  text-align: left;
  margin-bottom: 1rem;
}

.faq-wrapper h3 {
  text-align: left;
  margin-bottom: 0.2rem;
}

.faq-wrapper p {
  text-align: left;
  margin-bottom: 2rem;
}

.faq-list {
  text-align: left;
  margin-bottom: 2rem;
  border-bottom: 1px solid #313131;
}


.line-none{
  border-bottom: none;
}

.faq-list-2 {
  text-align: left;
  margin-bottom: 2rem;
}
